<h1><%= @profile.name %></h1>

<h3>ID: <%= @profile.id %></h3>
<h3>Rating: <%= @profile.rating %></h3>
<h3>Owner: <%= @profile.owner %></h3>

<p>
   <%= link_to "<< Back to Profiles", profiles_path %>
   |
   <%= link_to "Update Profile", edit_profile_path(@profile) %>

</p>